/* button{
    width: 25%;
    height: 40%;
    color: white;

    margin: 20px 250px;
} */
p{
    text-align: center;
}
h1{
    font-size: 25px;
}
img{
    width: 10%;
    height: 10%;

}
.bigger{
    width: 15%;

}
